$fontSize: 2rem;
$marginLeftandRight: 25px;

#quote-box {
  margin: 20vh auto;
  padding: 20px;
  width: 470px;
  height: auto;
  background-color: white;
  border-radius: 25px;
}

#text {
  font-size: $fontSize * 1.25;
  text-align: center;
  text-shadow: 1px 1px 1px;
}

#author {
  margin-top: 15px;
  font-size: $fontSize * 0.9;
  text-align: right;
  text-shadow: 0 1px 0;
  font-style: italic;
  margin-right: $marginLeftandRight;
}

#author:before {
  content: "- ";
}

#new-quote {
  float: right;
  margin-right: $marginLeftandRight;
}

#tweet-quote {
  float: left;
  margin-left: $marginLeftandRight;
}

button {
  border-radius: 1.5em;
  font-weight: 250;
  color: white;
  border: 3px solid white;
  margin-top: 4px;
}

footer {
  font-size: xx-small;
  font-style: italic;
  color: white;
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100vw;
}
